*, :after, :before {box-sizing: border-box;-moz-box-sizing: border-box;image-rendering: -webkit-optimize-contrast;}

.clear-fix {clear: both;overflow: hidden;}
.clear-fix:after, .clear-fix:before {content: "";display: table;clear: both;}

body:before{content:'';background: linear-gradient(to top, #0c134f, #221f62, #352b75, #483888, #5c469c); width:100%; height:100%; position: fixed; top:0; left:0; display: block;}