
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --pri-font: "Montserrat", sans-serif;
    --color1: rgba(12,19,79,1);
    --color2: rgba(29,38,125,1);
    --color3: rgba(92,70,156,1);
}


*, :after, :before {box-sizing: border-box;-moz-box-sizing: border-box;image-rendering: -webkit-optimize-contrast;}

.clear-fix {clear: both;overflow: hidden;}
.clear-fix:after, .clear-fix:before {content: "";display: table;clear: both;}

body{font-family: var(--pri-font); font-size: 18px; }

body:before{content:'';background:linear-gradient(115deg, var(--color1) 0%, var(--color2) 43%, var(--color3) 100%); width:100%; height:100%; position: fixed; top:0; left:0; display: block; z-index: -1;}
body:after { content: ''; background: none; width: 100%; height: 100%;  position: absolute;    top: 0;    left: 0; border: 40px solid rgba(255, 255, 255, .15); outline: 3px solid rgba(255, 255, 255, .20); outline-offset: -40px; z-index: -1;}

.box-wrap{width: 100%; max-width: 1300px; margin: 0 auto; position: relative;}

header, div, footer, nav{position: relative;}


.hero-con{padding:0 25px; display: flex; justify-content: center; gap:20px; align-items: center;}
.hero-con figure{width:300px; max-width: 100%;}
.hero-con figure img{width:100%}
.hero-info{width: 48%;}
.hero-info h2{font-size: 30px; font-weight:700; }
.hero-info h2 span{display: block;}